body {font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial, sans-serif;
background:#fff;color:#333333;font-size:12px; margin:0px; padding: 0px; font-size: 14px;}
div, form, dl, dt, dd, ul, ol, li, h1, h2, h3, input, textarea, p,th, td {
padding: 0;margin: 0;}
ol, ul, li{list-style: none; margin: 0; padding: 0;}
.xyh-header {
	position: fixed;
	top:0px;
	left: 0px;
	right: 0px;
	width:100%;box-shadow: 0 3px 3px #DDDDDD;
	color: #FFFFFF;height: 80px;
	background:#0F92D6;
	margin-top:0px;
}
.xyh-main {	
	background:#fff;width:730px;margin:130px auto 60px;padding:0px 20px;}


.xyh-header .logo {width:350px; height:70px;padding:0px 20px; float:left;background:url(../images/xyh-install-logo.png) no-repeat left center;line-height:70px;font-weight:bold;font-size:35px;text-indent:-9999px;}
.xyh-header .version {height:35px; float:right;margin-top:45px; padding:0px 20px; line-height:35px;}
.red {color:red;}
.action {text-align:center;margin-top:25px;}
.license {height:300px;line-height:150%; margin:10px 20px; padding:10px;border: 1px solid #BDBCBC;box-shadow: 5px 5px 5px #F7F7F7 inset;
overflow-x: hidden;overflow-y: scroll;}

.btn_blue, .btn_disable, .btn_x {
	display: inline-block;
	background: #0D9AE4;
	height: 37px;line-height: 37px;
	padding: 0px 15px;
	margin: 2px;
	border: 0px;
	color: white;
	font-size: 16px;
	border-radius:3px;
	cursor: pointer;
	text-decoration: none;
	text-align:center;
}
.btn_blue:hover {background-color: #0084C9;}
.btn_disable {background: #666666;}
.pre{ background:#EFEFEF url(../images/loading.gif) no-repeat 0 center;}
.btn_x{color:#999999; background-color:#EFEFEF; border:1px solid #ccc;}



.step {height: 60px;background-color: #FFFFFF; margin-bottom: 30px;}
.step li em { display: inline-block; background: #aaaaaa; border-radius: 50%; 
	color: #FFFFFF;font-size: 20px;
	height: 32px;line-height: 32px;margin-right: 10px;
	text-align: center;vertical-align: 0;width: 32px;}
.step li {border-bottom: 7px solid #cccccc;}
.step li {width: 33%;height: 60px;line-height: 60px;color: #6F7885;float: left;font-size: 14px;font-weight: 700;text-align: center;}
.step li.current {color: #009f95; border-color: #19c3b9;}
.step li.ok {color: #009f95; border-color: #009f95;}
.step li.current em{background: #19c3b9;}
.step li.ok em{background: #009f95;}


.xyh-table-base {width:100%;border-spacing:0px;}

.xyh-table-base th,.xyh-table-base .th {color:#333333;}
.xyh-table-base th,.xyh-table-base td {padding:7px 5px;width:25%;text-align:left;}
.xyh-table-base td span {width:100%;display:block;height:20px;line-height:20px;padding-left:20px;}
.xyh-table-base td span.ok {background:url(../images/icon.png) no-repeat left top;}
.xyh-table-base td span.no {background:url(../images/icon.png) no-repeat left bottom;}
.xyh-table2 th, .xyh-table2 td{width: auto;}
.tr-bg { background: #eeeeee; }
.checkbox-inline,.radio-inline { 
	position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin: 4px 0 0;
    margin-left: -20px;
}




input.text {border: 1px solid #E3E9EF;padding: 10px;min-width: 200px; width: 90%; border-radius: 5px;}
.textarea1 {border: 1px solid #E3E9EF;padding: 10px;min-width: 200px; width: 90%; height:50px;}
.install_process {line-height:180%;border: 1px solid #BDBCBC;box-shadow: 5px 5px 5px #F7F7F7 inset;display: block;font-size: 14px;height: 250px;line-height: 1.5;margin-top:20px;outline: medium none;overflow-x: hidden;overflow-y: scroll;padding: 10px;}
.process { width:600px; height:30px; margin:10px auto; padding:2px; border: 1px solid #BDBCBC;box-shadow: 5px 5px 5px 5px #F7F7F7;border-radius:3px;}
.process_go {background: #0D9AE4;height: 30px; line-height:30px;width:5%;border-radius:3px; color:#fff; text-align:center; overflow:hidden;}

.complete {margin:20px auto;line-height:210%;width:600px;}
.complete p{ padding:20px 10px; text-align:center}
.xyh-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 37px; 
	line-height: 37px;
	width:100%;
	background-color:#0F92D6;
	font-size:14px; 
	color:#ffffff; text-align:center; 

}