<extend name="Public:base" />
<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
			修改密码
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('pwd')}">	
					<div class="form-group">
						<label for="inputOldpassword" class="col-sm-2 control-label">旧密码</label>
						<div class="col-sm-9">
							<input type="password" name="oldpassword" id="inputOldpassword" value="" class="form-control" placeholder="旧密码" required="required" />
						</div>
					</div>	

					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">新密码</label>
						<div class="col-sm-9">
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="新密码" required="required" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputRpassword" class="col-sm-2 control-label">密码确认</label>
						<div class="col-sm-9">
							<input type="password" name="rpassword" id="inputRpassword" class="form-control" placeholder="密码确认" required="required" />
						</div>
					</div>				

					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<div class="btn-group">							
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>