<extend name="Public:base" />
<block name="header_js">
<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>

</block>

<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
			回复留言
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('add')}">	
					<div class="form-group">
						<label for="inputUsername" class="col-sm-2 control-label">姓名</label>
						<div class="col-sm-9">
							<input type="text" name="username" id="inputUsername" class="form-control" placeholder="姓名" />	
						</div>
					</div>
					<div class="form-group">
						<label for="inputTel" class="col-sm-2 control-label">电话</label>
						<div class="col-sm-9">
							<input type="text" name="tel" id="inputTel" class="form-control" placeholder="电话" />				
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-9">
							<input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" />
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputQQ" class="col-sm-2 control-label">QQ</label>
						<div class="col-sm-9">
							<input type="text" name="qq" id="inputQQ" class="form-control" placeholder="QQ" />
						</div>
					</div>				


					<div class="form-group">
						<label for="inputContent" class="col-sm-2 control-label">留言</label>
						<div class="col-sm-9">
							<textarea name="content" id="inputContent" class="form-control" rows="6"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">审核</label>
						<div class="col-sm-9">
							<select name="status" class="form-control">
								<option value="0">未审核</option>
								<option value="1" selected="selected">已审核</option>
							</select>
						</div>
					</div>	

					<div class="form-group">
						<label for="" class="col-sm-2 control-label">悄悄话</label>
						<div class="col-sm-9">
							<select name="private_flag" class="form-control">
								<option value="0" selected="selected">否</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>


					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<div class="btn-group">							
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
								<button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
									返回
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>