<extend name="Public:base" />
<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
			添加会员
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('add')}">	
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-9">
							<input type="text" name="email" id="inputEmail" class="form-control" placeholder="邮箱" required="required" />	
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-9">
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required="required" />		
						</div>
					</div>
					<div class="form-group">
						<label for="inputNickname" class="col-sm-2 control-label">昵称</label>
						<div class="col-sm-9">
							<input type="text" name="nickname" id="inputNickname" class="form-control" placeholder="昵称" />	
						</div>
					</div>

					<div class="form-group">
						<label for="inputValue" class="col-sm-2 control-label">会员组名</label>
						<div class="col-sm-9">
							<select name="group_id" class="form-control">
								<foreach name='vlist' item='v'>
								<option value="{$v.id}">{$v.name}</option>
								</foreach>
							</select>		
						</div>
					</div>
					
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">状态</label>
						<div class="col-sm-9">
							<label class="radio-inline">
							 	<input type="radio" name="is_lock" value="0" checked="checked" />正常				
							 </label>
							<label class="radio-inline">
							 	<input type="radio" name="is_lock" value="1" />锁定		
							 </label>	
						</div>
					</div>

					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<div class="btn-group">							
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
								<button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
									返回
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>