<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>后台</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="__DATA__/static/bootstrap/3.3.5/css/bootstrap.min.css" media="screen">	
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/main.css" />
	<!-- 头部css文件|自定义  -->
	<block name="header_css"></block>

	<script type="text/javascript" src="__DATA__/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__DATA__/static/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="__DATA__/static/js/html5shiv.min.js"></script>
		<script src="__DATA__/static/js/respond.min.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="__DATA__/static/jq_plugins/layer/layer.js"></script>
	<script language="JavaScript">
	    <!--
	    var URL = '__URL__';
	    var APP	 = '__APP__';
	    var SELF='__SELF__';
	    var PUBLIC='__PUBLIC__';
	    var data_path = "__DATA__";
		var tpl_public = "__PUBLIC__";
	    //-->
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script> 
	<!-- 头部js文件|自定义 -->
	<block name="header_js"></block>
</head>
<body>
	<div class="xyh-content">
		<block name="content">
		</block>
			
	</div>	
</body>
</html>
<block name="out_foot">
</block>
