<extend name="Public:base" />
<block name="header_js">
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
$(function(){
    var ue = UE.getEditor('inputContent',{
        serverUrl :"{:U('Public/editorMethod')}"
    });
})
</script>

<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
<script type="text/javascript" src="__DATA__/static/jq_plugins/iColorPicker/iColorPicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/XYHUploader/XYHUploader.js"></script>

<script type="text/javascript">
$(function () {
	//缩略图上传
	$('#litpic').XYHUploader({
		sfile:"img1", 
		furl:"{:U('Public/upload',array('img_flag' => 1))}", 
		burl:"{:U('Public/browseFile', array('stype' => 'picture'))}",
		thide: false,
		thumflag: true
	});

	$('#inputDownlink').XYHUploader({
		sfile:"file1", 
		furl:"{:U('Public/upload')}", 
		burl:"{:U('Public/browseFile')}",
		thide: true,
		oneflag: false,
		thumflag: false,
		show: true,
		showOutLink: true,
		sinput: '#inputFilesize'
	});


	$('#CK_JumpUrl').click(function(){
            if($(this).prop('checked')) {
                $('#JumpUrlDiv').show();

            }else {
                $('#JumpUrlDiv').hide();
            }
            
     });
	
});


</script>
	
</block>

<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
			{$type}  
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('add')}">											

					<div class="form-group">
						<label for="inputTtitle" class="col-sm-2 control-label">名称</label>
						<div class="col-sm-9">
							<input type="text" name="title" id="inputTtitle" class="form-control" placeholder="名称" required="required" />									
						</div>
					</div>
					<div class="form-group">
						<label for="inputColor" class="col-sm-2 control-label">标题颜色</label>
						<div class="col-sm-5">
							<input type="text" name="color" id="inputColor" class="form-control  iColorPicker" placeholder="标题颜色" />									
						</div>
					</div>

					<div class="form-group">
						<label for="inputColor" class="col-sm-2 control-label">自定义属性</label>
						<div class="col-sm-9">
							<foreach name='flagtypelist' item='v'>
							<label class="checkbox-inline"><input type='checkbox' name='flags[]' value='{$key}' <if condition="$key eq B_JUMP">id="CK_JumpUrl"</if> /> {$v}</label>
							</foreach>								
						</div>
					</div>

					<div class="form-group" id="JumpUrlDiv" style="display:none;">
						<label for="inputJumpurl" class="col-sm-2 control-label">跳转网址</label>
						<div class="col-sm-9">
							<input type="text" name="jump_url" id="inputJumpurl" class="form-control" placeholder="跳转网址" />									
						</div>
					</div>

					<div class="form-group">
						<label for="inputVersion" class="col-sm-2 control-label">软件版本</label>
						<div class="col-sm-5">
							<input type="text" name="version" id="inputVersion" class="form-control" placeholder="软件版本" />									
						</div>
					</div>

					<div class="form-group">
						<label for="inputUpdatetime" class="col-sm-2 control-label">更新时间</label>
						<div class="col-sm-5">
							<input type="text" name="update_time" id="inputUpdatetime" value="{:date('Y-m-d',time())}" class="form-control" placeholder="更新时间" />
							<script type="text/javascript">
			                    Calendar.setup({
			                        weekNumbers: true,
			                        inputField : "inputUpdatetime",
			                        trigger    : "inputUpdatetime",
			                        dateFormat: "%Y-%m-%d",
			                        showTime: true,
			                        minuteStep: 1,
			                        onSelect   : function() {this.hide();}
			                    });
			                </script>									
						</div>
					</div>

					<div class="form-group">
						<label for="inputProName" class="col-sm-2 control-label">所属栏目</label>
						<div class="col-sm-9">
							<select name="cid" class="form-control">
								<volist name="cate" id="v">
								<option value="{$v.id}" <if condition="$pid eq $v['id']">selected="selected"</if>>{$v.delimiter}{$v.name}</option>
								</volist>
							</select>									
						</div>
					</div>

					<div class="form-group">
						<label for="litpic" class="col-sm-2 control-label">缩略图</label>
						<div class="col-sm-10">
							    <input type="text" class="form-control" name="litpic" id="litpic"  value="" placeholder="缩略图地址" />	
						</div>
						
					</div>

					

					<div class="form-group">
						<label for="inputKeywords" class="col-sm-2 control-label">文件大小</label>
						<div class="col-sm-9">
							<input type="text" name="file_size" id="inputFilesize" class="form-control" value="" placeholder="文件大小" />						
						</div>
					</div>

					<div class="form-group">
						<label for="inputDescription" class="col-sm-2 control-label">下载地址</label>
						<div class="col-sm-9">
							<textarea rows="5" name="down_link" id="inputDownlink" class="form-control" readonly="readonly"></textarea>								
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputContent" class="col-sm-2 control-label">内容</label>
						<div class="col-sm-9">
							<textarea name="content" id="inputContent" style="height: 370px;"></textarea>						
						</div>
					</div>		
					
					<div class="form-group">
						<label for="inputDescription" class="col-sm-2 control-label">更新日志</label>
						<div class="col-sm-9">
							<textarea name="update_log" id="inputUpdatelog" class="form-control"></textarea>								
						</div>
					</div>

					<div class="form-group">
						<label for="inputKeywords" class="col-sm-2 control-label">关键词</label>
						<div class="col-sm-9">
							<input type="text" name="keywords" id="inputKeywords" class="form-control" value="" placeholder="多关键词之间用“,”隔开" />						
						</div>
					</div>

					<div class="form-group">
						<label for="inputDescription" class="col-sm-2 control-label">摘要</label>
						<div class="col-sm-9">
							<textarea name="description" id="inputDescription" class="form-control"></textarea>								
						</div>
					</div>
					<div class="form-group">
						<label for="inputAuthor" class="col-sm-2 control-label">软件分类</label>
						<div class="col-sm-9">
							<select name="soft_type" class="form-control">
								<foreach name='softtypelist' item='v'>
								<option value="{$key}">{$v}</option>
								</foreach>
							</select>						
						</div>
					</div>
					<div class="form-group">
						<label for="inputCopyfrom" class="col-sm-2 control-label">软件语言</label>
						<div class="col-sm-9">
							<select name="language" class="form-control">
								<foreach name='softlanguage' item='v'>
								<option value="{$key}">{$v}</option>
								</foreach>
							</select>						
						</div>
					</div>	
					<div class="form-group">
						<label for="inputCopyfrom" class="col-sm-2 control-label">运行环境</label>
						<div class="col-sm-9">
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin0" value="WinXP" name="os[]"> WinXP</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin1" value="Win7" name="os[]">Win7</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin7" value="Win8" name="os[]">Win8</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin9" value="Win10" name="os[]">Win10</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin6" value="Vista64" name="os[]">Vista 64</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin5" value="Win7x64" name="os[]">Win7 64</label>    
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin8" value="Win8x64" name="os[]">Win8 64</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin10" value="Win10x64" name="os[]">Win10 64</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin2" value="Vista" name="os[]">Vista</label> 
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin3" value="Win2003" name="os[]">Win2003</label>
							<label class="checkbox-inline"><input type="checkbox" id="EnvWin4" value="WinNT" name="os[]">WinNT</label>						
						</div>
					</div>			

					<div class="form-group">
						<label for="inputPublishtime" class="col-sm-2 control-label">发布时间</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="publish_time" id="inputPublishtime" value="{:date('Y-m-d H:i:s',time())}">
			                <script type="text/javascript">
			                    Calendar.setup({
			                        weekNumbers: true,
			                        inputField : "inputPublishtime",
			                        trigger    : "inputPublishtime",
			                        dateFormat: "%Y-%m-%d %H:%M:%S",
			                        showTime: true,
			                        minuteStep: 1,
			                        onSelect   : function() {this.hide();}
			                    });
			                </script>						
						</div>
					</div>			

					<div class="form-group">
						<label for="inputShorttitle" class="col-sm-2 control-label">权重</label>
						<div class="col-sm-2">
							<input type="text" name="point" id="inputPoint" value="100" class="form-control" placeholder="权重" />	
						</div>
						<div class="col-sm-7">
							<label class="checkbox-inline">权重用于排序，从大到小，排序优先</label>	
						</div>
					</div>

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">点击数</label>
						<div class="col-sm-2">
							<input type="text" name="click" id="click" class="form-control" value="0" placeholder="点击数" />			
						</div>
						<div class="col-sm-7">	
							<label class="checkbox-inline"><input type="checkbox" name="clickFlag" value="1" <if condition="C('CFG_CLICK_NUM_INIT') eq 0"> checked="checked"</if> /> 随机生成</label>
						</div>
					</div>

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">评论</label>
						<div class="col-sm-9">
							<label class="radio-inline">
							 	<input type="radio" name="comment_flag" value="1" checked="checked" />允许				
							 </label>
							<label class="radio-inline">
							 	<input type="radio" name="comment_flag" value="0" />禁止		
							 </label>	
						</div>
					</div>		
					
					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<input type="hidden" name="pid" value="{$pid}" />
							<div class="btn-group">
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
								<button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
									返回
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>